@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Albert Sans', sans-serif;
  }
}

@layer utilities {
  .shadow-navbar {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  }
}